API_PORT=3000
WEB_ORIGIN=http://localhost:4200
YTDLP_BINARY=yt-dlp
FFMPEG_BINARY=ffmpeg
ANALYSIS_TIMEOUT_MS=30000
DOWNLOAD_TIMEOUT_MS=900000
MAX_DOWNLOAD_SIZE_MB=2048
MAX_CONCURRENT_DOWNLOADS=2
YTDLP_COOKIES_FROM_BROWSER=
